:root {
  --paleBackground: #ffffff;
  --white: #f8f8f8;
  --whiteButton: #eaeaea;
  --grey: #7e7e82;
  --black: #1b1c21;
  --superLightTurquoise: #d9fff5;
  --lightTurquoise: #b8ffec;
  --turquoise: #41f6d7;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./fonts/TTLakes-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  background: var(--white);
  min-height: 100vh;
  font-family: "TT Lakes";
  color: var(--black);
}

.card {
  width: 240px;
  height: 72px;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  border-width: 1px;
  border: 1px solid var(--whiteButton);
  background-color: var(--paleBackground);
}
.card__container {
  width: 208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.lenovo {
  width: 108px;
  height: 32px;
  background-size: cover;
  background-image: url("/lenovo.svg");
}
.button__dropdown {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-size: cover;
  cursor: pointer;
  background-image: url("/dropdown.svg");
}
.header {
  height: 56px;
  background: linear-gradient(
    90deg,
    var(--white) 0%,
    var(--paleBackground) 100%
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 16px;
}
.header__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: var(--grey);
}
.main {
  height: 266px;
  background: rgb(248, 248, 248);
}

@media (max-width: 320px) {
  :root {
    --swiper-pagination-color: #b5b6bc;
    --swiper-pagination-bullet-inactive-color: #dddddd;
    --swiper-pagination-bullet-inactive-opacity: 1;
  }
  .header {
    height: 80px;
    /* background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%); */
  }
  .main {
    height: 154px;
  }
  .card {
    width: 240px;
    height: 72px;
  }
  #swiper {
    min-height: 142px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #wrapper {
    z-index: 10000;
    box-shadow: inset -10px 0px 10px -5px rgba(248, 248, 248, 1);
  }
  #slide {
    max-width: 240px;
  }
  #pagination {
    position: static;
  }
}

@media (min-width: 768px) {
  .card {
    width: 224px;
    height: 72px;
  }
  .card__container {
    width: 196px;
  }
}
